<header class="header">JHV Player</header>
<div class="subheader">
  <p>Filter search by:</p>
  <div class="subheader-buttons">

    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
        <input matEndDate placeholder="End date" [(ngModel)]="endDate">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 30px">
      <mat-label>Select cameras</mat-label>
      <mat-select [formControl]="selectedCamerasForm" multiple>
        <mat-option *ngFor="let camera of camerasList" [value]="camera">{{camera}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="example-button-container">
      <button (click)="onSearchButtonClicked()" color="basic" mat-fab>
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="example-button-container">
      <button (click)="onClearButtonClicked()" color="basic" mat-fab
              matTooltip="Clear page" matTooltipPosition="above">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

  </div>
</div>

<div *ngIf="videoDtoArray && videoDtoArray.length > 0" class="body">
  <div *ngFor="let metadata of videoDtoArray">
    <app-video [videoDto]="metadata"></app-video>
  </div>
</div>


<div class="footer">
  <button (click)="getAllRecordings()" class="load-more-button" color="basic"
          mat-fab matTooltip="Load all videos" matTooltipPosition="above">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>

