<div class="main-container">

  <div class="header">
    <div class="home-button-div">
      <button class="player-button" color="basic" mat-raised-button matTooltip="Return to home page" routerLink="/">
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <div class="title">JHV Player</div>
    <div class="right-offset"></div>
  </div>

  <div class="body">
    <div class="left-bar"><p>Video previews</p>
      <div class="video-previews">
        previews placeholder
      </div>
    </div>

    <div class="right-section" id="right-section">
      <div class="video-section" id="video-section">
        <video #videoRefPause (timeupdate)="setCurrentTime($event)" [hidden]="diagnosticMode">
          <source src="{{loadedVideo}}" type="video/mp4">
        </video>
        <div *ngIf="!downloadedFlag; else canvasDiv">
          Waiting for video...
        </div>
        <ng-template #canvasDiv>
          <canvas #diagnosticCanvas [hidden]="!diagnosticMode" id="diagnosticCanvas"
                  style="background-color: lightgrey">
          </canvas>
        </ng-template>
      </div>
      <div class="timeline">
        <ngx-slider id="slider2" *ngIf="!videoLoopActive; else dualSlider" [(value)]="diagnosticCurrentTime" [options]="optionsSingle"
                    class="custom-slider" (userChange)="updateLastFrameForTimeline()"></ngx-slider>
        <ng-template #dualSlider>
          <ngx-slider id="slider1" *ngIf="videoLoopActive" [(value)]="minValue" [(highValue)]="maxValue"
                      [options]="optionsDual" class="custom-slider" (userChange)="updateLastFrameForTimeline()">

          </ngx-slider>
        </ng-template>
      </div>

      <div class="footer">
        <div class="footer-left-section">
          <label *ngIf="diagnosticMode">FRAME: {{actualIndex}}</label>
        </div>
        <div class="footer-mid-section">

          <div (click)="toggleDiagnosticMode(true, videoRefPause)" *ngIf="!diagnosticMode; else diagnosticButtons"
               class="diagnostic">
            <p>Diagnostic mode</p>
            <label>(start at: {{smallVideoCurrentTime.toFixed(1)}}s)</label>
          </div>

          <ng-template #diagnosticButtons>
            <button (click)="backwardButtonClicked()" class="player-button" mat-raised-button>
              <mat-icon *ngIf="backwardPlay; else changedDirection" matTooltip="{{enumRef.MSG0}}">keyboard_arrow_right
              </mat-icon>
              <ng-template #changedDirection>
                <mat-icon matTooltip="{{enumRef.MSG1}}">keyboard_arrow_left</mat-icon>
              </ng-template>
            </button>
            <button class="player-button" mat-raised-button matTooltip="{{enumRef.MSG2}}"
                    (click)="onPreviousFrame(false)"
                    [disabled]="videoPlaying">
              <mat-icon>skip_previous</mat-icon>
            </button>
            <button (click)="startStopButtonClicked(false)" class="player-button" mat-raised-button
                    matTooltip="{{enumRef.MSG3}}">
              <mat-icon *ngIf="videoPlaying; else playVideo">pause</mat-icon>
              <ng-template #playVideo>
                <mat-icon>play_arrow</mat-icon>
              </ng-template>
            </button>
            <button class="player-button" mat-raised-button matTooltip="{{enumRef.MSG4}}" (click)="onNextFrame(false)"
                    [disabled]="videoPlaying">
              <mat-icon>skip_next</mat-icon>
            </button>
            <button class="player-button" mat-raised-button matTooltip="{{enumRef.MSG5}}"
                    (click)="onRotateFrameClicked()">
              <mat-icon>rotate_90_degrees_ccw</mat-icon>
            </button>
            <button id="loopButton" class="player-button" mat-raised-button matTooltip="{{enumRef.MSG6}}"
                    (click)="videoLoopActivated()">
              <mat-icon>loop</mat-icon>
            </button>
          </ng-template>
        </div>

        <div class="footer-right-section">
        </div>

      </div>
    </div>
  </div>
</div>
